* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Hind, sans-serif;
}
.header-section {
  display: flex;
  justify-content: space-between;
  background-color: #000;
}
.logo img {
  height: 4vh;
  margin: 20px 25px;
}
ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  position: relative;
  float: left;
}
li ul {
  display: none;
}
ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 50px 10px 25px;
  margin-left: 1px;
  white-space: nowrap;
}
ul li a:hover {
  background-color: #fff;
  color: #000;
}
li:hover ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
  font-size: 11px;
}
li:hover a {
  background-color: #000;
}
li:hover li a:hover {
}
/*Animation Start*/
.how-its-work{
	display:flex;
	justify-content: center;
	height: 40vh;
	padding: 0px 100px;
	/*margin-top: 25px;
	margin-bottom: 20px;*/
	margin-top: 35px;
	margin-bottom: 50px;
}
.how-its-work .animation{
	width: 22%;
	padding:15px;a
}
.how-its-work .animation h5{
	font-family: 'Barlow Condensed', sans-serif;
    font-size: 23px;
}
.how-its-work .animation p{
	font-family: 'Hind', sans-serif;
	color:#8e9193;
	font-size: 15px;
}
.how-its-work .animation img{
	margin-left: 70px;
}

.how-its-work .animation img{
	width: 87px;
	height: 101px;
    animation: rotate 5s normal linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  } 
  50% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

.how-its-work h5{
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}
.how-its-work p{
	padding-top: 20px;
	text-align: center;
}
/*Progress section start*/

.Progres{
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
	max-height: 70vh;
	margin-bottom: 80px;
}

.Progress{
	max-width: 50%;
	display: block;
	margin: 20px 0px 0px 30px;
}
.Progress .desgin{
	padding: 10px  0px;
}
.Progress .desgin h4 span{
	padding-left: 235px;
	font-family: 'Barlow Condensed', sans-serif;

}

.Progress .desgin .Progres-bar1{
	border: 2px solid black;
	width: 25vw;
}

.Progress .branding{
	padding: 20px  0px;
}
.Progress .branding h4 span{
	padding-left: 120px;
	font-family: 'Barlow Condensed', sans-serif;
}
.Progress .branding .Progres-bar-2{
	border: 2px solid black;
	width: 18vw;
}

.Progress .advertising{
	padding: 20px  0px;
}
.Progress .advertising h4 span{
	padding-left: 155px;
	font-family: 'Barlow Condensed', sans-serif;
}
.Progress .advertising .Progres-bar-3{
	border: 2px solid black;
	width: 22vw;
}

.Progress .copywriting{
	padding: 20px  0px;
}

.Progress .copywriting h4 span{
	padding-left: 255px;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 23px;
}

.Progress .copywriting .Progres-bar-4{
	border: 2px solid black;
	width: 30vw;
}

.Progres .Progres-img img{
	width: 100%;
	object-fit: cover;
	height: 259px;
	margin-top: 45px;
}
/*Exhibition start*/

.exhibtions{
	display: flex;
	justify-content: space-between;
}
.exhibtions.exhibtions-part{
	display: flex;
	justify-content: space-between;
	width: 50%;
}
.exhibtions part1{
	width: 50vw;
}
