* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Hind, sans-serif;
}
.header-section {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  z-index: 100;
  position: sticky;
  background-color: #000;
}
.logo img {
  height: 4vh;
  margin: 20px 25px;
}

ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  position: relative;
  float: left;
}
li ul {
  display: none;
}
ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 5px 0px 16px;
  margin-left: 1px;
  white-space: nowrap;
}
ul li a:hover {
  background-color: #fff;
  color: #000;
}
li:hover ul {
  display: block;
  position: absolute;
}
li:hover li {
  float: none;
  font-size: 11px;
}
li:hover a {
  background-color: #000;
}
li:hover li a:hover {
}

/*carousel section start*/
.carousel-wrapper {
  position: relative;
  max-width: 100vw;
  height: 80vh;
  display: block;
  margin: 50px auto;
  /*border: 2px solid black;*/
  margin-top: -88px;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^="item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("./images/img1.jpg");
  background-size: cover;
}
.item-2 {
  background: url("./images/img2.jpg");
  background-size: cover;
}
.item-3 {
  background: url("./images/img3.jpg");
  background-size: cover;
}

*:target ~ .item-1 {
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;
}
#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

/*Animation Start*/
.how-its-work {
  /*display: flex;
		justify-content: center;
		max-height: 64vh;
		padding: 0px 100px;
		margin-top: 35px;
		margin-bottom: 50px;
		border: 2px solid;
		margin-top: 98px;*/
  display: flex;
  justify-content: center;
  padding: 0px 0px 0 30px;
}
.how-its-work .animation {
  width: 22%;
}
.how-its-work .animation h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  padding: 12px 0px 0 30px;
}
.how-its-work .animation p {
  font-family: "Hind", sans-serif;
  color: #8e9193;
  font-size: 15px;
  padding-top: 30px;
  text-align: center;
  padding: 12px 0px 0 30px;
}
.how-its-work .animation img {
  width: 87px;
  height: 95px;
  animation: rotate 5s normal linear infinite;
  padding: 0 122px;
  /*margin: 0 116px;*/
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

.how-its-work h5 {
}
.how-its-work p {
}

/*Progress section start*/

.Progres {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  max-height: 70vh;
  padding: 50px 0;
}

.Progress {
  max-width: 50%;
  display: block;
  margin: 20px 0px 0px 30px;
}
.Progress .desgin {
  padding: 10px 0px;
}
.Progress .desgin h4 span {
  padding-left: 235px;
  font-family: "Barlow Condensed", sans-serif;
}

.Progress .desgin .Progres-bar1 {
  border: 2px solid black;
  width: 25vw;
}

.Progress .branding {
  padding: 20px 0px;
}
.Progress .branding h4 span {
  padding-left: 120px;
  font-family: "Barlow Condensed", sans-serif;
}
.Progress .branding .Progres-bar-2 {
  border: 2px solid black;
  width: 18vw;
}

.Progress .advertising {
  padding: 20px 0px;
}
.Progress .advertising h4 span {
  padding-left: 155px;
  font-family: "Barlow Condensed", sans-serif;
}
.Progress .advertising .Progres-bar-3 {
  border: 2px solid black;
  width: 22vw;
}

.Progress .copywriting {
  padding: 20px 0px;
}

.Progress .copywriting h4 span {
  padding-left: 255px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 23px;
}

.Progress .copywriting .Progres-bar-4 {
  border: 2px solid black;
  width: 30vw;
}

.Progres .Progres-img img {
  width: 100%;
  object-fit: cover;
  height: 259px;
  margin-top: 45px;
}

/*Exhibition start*/

.exhibtions {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  max-height: auto;
  overflow: hidden;
}

/*News section start*/
.news {
  display: flex;
  justify-content: space-between;
  max-height: 81vh;
  background-color: #fcfcfc;
  padding: 70px 30px;
  margin-bottom: 50px;
}
.news h1 {
  width: 30vw;
  font-size: 70px;
  margin-top: 75px;
  margin-left: 120px;
  font-family: "Barlow Condensed", sans-serif;
}
.news .sub-news {
  width: 40%;
}
.news .sub-news .sub-news-1 {
  display: block;
  width: 20vw;
  margin: 100px 0px 50px 0px;
  padding-left: 50px;
  font-family: "Barlow Condensed", sans-serif;
}
.news .sub-news .sub-news-1 h2 a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 30px;
}
.news .sub-news .sub-news-1 h2 a:hover {
  background-color: #000;
  color: #fff;
}
.news .sub-news .sub-news-1 h5 a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}
.news .sub-news .sub-news-1 h5 a:hover {
  color: blue;
}
.news .sub-news .sub-news-1 p {
  color: #c1c1c1;
  margin-bottom: 10px;
}
.news .sub-news .sub-news-2 {
  display: block;
  width: 20vw;
  margin: 100px 80px 50px 0px;
  font-family: "Barlow Condensed", sans-serif;
}
.news .sub-news .sub-news-2 h2 a {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  font-size: 30px;
}
.news .sub-news .sub-news-2 h2 a:hover {
  background-color: #000;
  color: #fff;
}
.news .sub-news .sub-news-2 h5 a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
}
.news .sub-news .sub-news-2 h5 a:hover {
  color: blue;
}
.news .sub-news .sub-news-2 p {
  color: #c1c1c1;
  margin-bottom: 10px;
}
.counter {
  display: flex;
  justify-content: space-around;
  padding: 100px 120px 10px 120px;
  background-color: #f5f5f5;
  height: 20vh;
}
.counter span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 75px;
  line-height: 1;
  color: #000;
}
.counter h6 {
  color: #909090;
  font-family: "Hind";
  font-size: 19px;
  line-height: 1.5em;
  font-weight: 400;
  text-transform: none;
}

/*Clients section start*/

.our-clients {
  max-width: 100%;
  max-height: 196vh;
  padding: 0 100px 20px 100px;
  margin-top: 50px;
}
.our-clients h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 70px;
  margin: 25px 40px;
}
.our-clients .client {
  display: flex;
  margin: 20px 60px;
}
.our-clients .client img {
  width: 20%;
}

/*accordion section start*/
.accordion {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100vh;
  margin: 25px 0 16px 0;
}
.accordion.accordion-img {
  max-width: 50%;
  max-height: 50%;
}
.container {
  width: 600px;
  max-width: 600px;
  height: auto;
  padding: 10px;
}
.element {
  padding: 10px;
  background: #000;
  color: white;
  margin: 10px 0;
  border-radius: 5px;
}
.element .question {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.question h3 {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 17px;
  text-align: center;
}
.question button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.question i {
  color: white;
  font-size: 20px;
}
.element .answer {
  padding: 10px 20px;
  animation: animate 0.7s;
}
p {
  font-family: sans-serif;
}
.hideText {
  display: none;
}
@keyframes animate {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*Search section start*/

.search {
  padding-top: 100px !important;
  padding-bottom: 130px !important;
  background-color: #000 !important;
}
.search h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 55px;
  line-height: 1.1em;
  margin: 25px 150px;
}
.search input {
  background-color: #282828;
  width: 60%;
  padding: 15px;
  margin: 10px 5px 10px 150px;
  border: 1px solid #000;
  font-family: Barlow Condensed, sans-serif;
  color: #fff;
  font-size: 15px;
}
.search input email {
  color: #fff;
}
.search .btn {
  background-color: #282828;
  width: 10%;
  font-size: 18px;
  padding: 14px;
  text-transform: uppercase;
  background-color: #282828;
  border: 1px solid #000;
  font-weight: bold;
  font-family: Barlow Condensed, sans-serif;
}
.search .icon {
  padding-left: 141px;
  text-transform: uppercase;
}
.search .icon i {
  width: 13px;
  height: 14px;
  background-color: #ececec;
  padding: 5px 7px 5px 3px;
  border-radius: 4px;
  margin: 10px;
}

/*team section start*/
.team-wraper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.team-wraper.team-box {
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.team-box img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.team-box .team-content {
  max-width: 100%;
  max-height: 100vh;
  padding: 180px 0px;
  background: rgba(255, 255, 255, 1);
  margin: -525px 3px 0px 0px;
  position: relative;
  opacity: 0;
}
.team-box .team-content:hover {
  transform: scale(1);
  opacity: 1;
}
.team-box .team-content p {
  color: black;
  font-size: 14px;
  color: #808080;
  margin: 0px 0 0 110px;
}
.team-box .team-content h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 28px;
  margin: 0px 0px 0 109px;
}
.team-box .team-content .icon i {
  width: 13px;
  height: 14px;
  background-color: #000;
  color: #fff;
  padding: 6px 4px 1px 3px;
  border-radius: 2px;
  font-size: 12px;
  margin: 2px -95px 69px 111px;
}

/*our work section*/
.our-work {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  max-height: 90vh;
  margin-top: 20px;
  padding: 25px;
}
.our-work h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 70px;
  line-height: 1.1em;
  margin: 51px 0;
  margin-left: 0px;
  width: 57%;
  margin-left: 124px;
}

.our-work .works span {
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 200px;
}
.our-work .works .work1 {
  display: block;
  width: 84%;
  font-size: 15px;
}
.our-work .works .work1 h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 26px;
  margin: 10px 0;
  padding: 102px 0px 0px 31px;
}
.our-work .works .work1 p {
  font-family: Hind, sans-serif;
  color: #abb8c3;
  margin: 10px 0px 0px 26px;
}
.our {
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  max-width: 100vw;
  margin-top: 137px;
}
.our .team {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}
.our .team .team1 {
  width: 35%;
  max-height: 58vh;
}
.our .team .team1 span {
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 330px;
  margin-left: 126px;
  margin-top: -47px;
}
.our .team .team1 h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 35px;
  line-height: 1.06em;
  margin: 10px 25px;
  padding: 102px 0px 0px 31px;
}
.our .team .team1 p {
  font-family: Hind, sans-serif;
  color: #abb8c3;
  margin: 0px 56px;
}
.our .team .team1 h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 2em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px 56px;
}
.our .team img {
  width: 100%;
  height: auto;
}
.teams {
  display: flex;
  justify-content: space-between;
  max-height: 100vh;
  max-width: 100vw;
}
.teams .team2 {
  width: 35%;
  height: 20vh;
}
.teams .team2 span {
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 330px;
  margin-left: 126px;
  margin-top: -47px;
}
.teams .team2 h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 35px;
  line-height: 1.06em;
  margin: 10px 25px;
  padding: 102px 0px 0px 31px;
}
.teams .team2 p {
  font-family: Hind, sans-serif;
  color: #abb8c3;
  margin: 0px 56px;
}
.teams .team2 h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 2em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px 56px;
}
.teams .team2 img {
  width: 100%;
  height: auto;
}

/*Awards*/
.awards {
  display: flex;
  justify-content: space-around;
  margin-top: 326px;
  padding: 55px;
  max-height: 50vh;
}
.awards h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 70px;
  margin: 25px 123px;
}
.awards .award .award-name {
  width: 77%;
}
.awards .award .award-name h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 26px;
  width: 100%;
}
.awards .award .award-name p {
  font-family: Hind, sans-serif;
  color: #abb8c3;
}

/*form*/
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 47px;
  margin: 25px 0 -107px 205px;
  margin-top: 100px;
}
.form {
  display: flex;
  justify-content: space-around;
  max-height: 84vh;
  padding: 113px 113px;
}
.form .form-input {
  display: block;
}

.form .form-inputs input {
  width: 33%;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 0;
  color: #909090;
  cursor: pointer;
  font-size: 15px;
  line-height: 24px;
  margin: 1px 1px 28px 50px;
  padding: 5.5px 15px;
}
.form .form-inputs textarea {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  color: #909090;
  cursor: pointer;
  font-size: 15px;
  margin: 0px 0px 15px 57px;
  height: 16vh;
}
.form .form-inputs button {
  width: auto;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 2em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 4px 38px 6px;
  cursor: pointer;
  margin: 0px 0px 0px 46px;
}

.form-info h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
  margin: 3px 60px 0px 0px;
  line-height: 2rem;
}
.form .form-input .form-info p {
  font-family: Hind, sans-serif;
  color: #6f7071;
  margin-top: 10px;
}

.map img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  margin-top: 30px;
}

/*About us section start*/
.about {
  display: flex;
  justify-content: center;
  max-height: 70vh;
  background-color: #000;
  padding-top: 102px;
  padding-bottom: 144px;
}
.about .about-us {
  width: 25%;
  margin: 0px 49px 0px -69px;
}
.about .about-us.about-us-icon {
  color: white;
  margin: 10px 10px 10px 10px;
}
.about .about-us h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  line-height: 1.1em;
  margin: 25px 0;
}
.about .about-us span.Wakehurst {
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
  margin: 20px 0 10px 0px;
}
.about .about-us .about-icon {
  color: #fff;
  margin: 0px 10px 0px 0px;
  font-size: 16px;
}

.about .about-us p {
  margin: 30px 0;
  color: #fff;
}
.about .about-us span input {
  color: #fff;
  margin-top: 20px;
  background-color: #282828;
  border: 1px solid transparent;
  width: 24%;
  height: 5vh;
  position: absolute;
}
.about .about-us span input .about-input-icon {
  color: #fff;
  margin: 0px 10px 0px 0px;
  font-size: 18px;
}

.about .about-latest-new {
  width: 23%;
  max-height: 71vh;
  margin: 0px 20px;
}
.about .about-latest-new .about-icon {
  color: #fff;
  margin: 0px 12px 0px -41px;
  font-size: 15px;
}

/*.about .about-latest-new h4{
	  font-family: "Barlow Condensed",sans-serif;
	  font-weight: 600;
	  text-transform: uppercase;
	  color: #fff;
	  font-size: 26px;
	  line-height: 1.1em;
	  margin: 25px 0;
  }*/
.about .about-latest-new span {
  font-size: 14px;
  line-height: 25px;
  color: #fff;
}

.about .about-latest-new .Articles {
  color: #fff;
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 50px;
}
.about .about-latest-new p {
  color: #fff;
  margin-top: 19px;
  font-size: 14px;
}
.about-instgram h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
  line-height: 1.1em;
  margin: 25px 0 0 14px;
}

/*footer section start*/
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  height: 10vh;
  padding: 20px 0px 0px 0px;
}
.footer img {
  height: 5vh;
  padding: 20px 25px;
}
.footer .footer-icon i {
  width: 13px;
  height: 14px;
  background-color: #fff;
  padding: 2px 7px 2px 2px;
  border-radius: 4px;
  margin: 29px 10px;
  text-align: center;
}
